html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #171717 50%, #444444 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.todo{
  display: grid;
  grid-template-columns:1fr 1fr;
}

.box {
  max-width: 400px;
  margin: 50px 20% auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #537EC5;
  text-align: center;
  margin: 50px 20% auto;
}

#open-list{
  color:  ;
  padding: 10px;
  position: absolute;
  right: 12%;
}
.anchor{
  text-decoration: none;
}
.anchor:active{
  color:white;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #537EC5;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #537EC5;
  color: #fff;
  font-size: 30px;
  padding-bottom: 0px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #537EC5;
}

::placeholder {
  color: grey;
  opacity: 1;
}
.homepage{
  color: #fff;
  padding: 10px;
  background-color: #537EC5;
  border-radius: 10px;
  position: absolute;
  right:100px;
  bottom: 100px;
  width: auto;
  text-decoration: none;
}


footer {
  color: #fff;
  text-align: center;
  position: relative;
  top:220px;
}
